body {
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: #d3d3d3
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0;
    padding-right: 15px
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a {
    cursor: pointer;
}

.hidden {
    display: none
}

.loading {
    text-align: center;
}

.summary {
    margin-top: 20px;
    background-color: #ffffff;
    border-right: solid 1px #000000
}

.summary .column {
    border-left: solid 1px #000000
}

.summary .header {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    border-top: solid 1px #000000;
    border-bottom: solid 1px #000000;
    background-color: #20b2aa
}

.summary .items div {
    border-bottom: solid 1px #000000;
    padding: 10px 5px
}

.summary .items .versionCount {
    font-weight: bold;
}

.summary .items .selected {
    background-color: #008b8b
}

.summary .items .selected a {
    color: #ffffff
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
}

.flex-item:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.flex-item:nth-child(2) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.flex-item:nth-child(3) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

#componentList {
    margin-top: 30px;
    font-size: 18px
}

.help {
    background-color: #ffffff
}