
@{
    ViewBag.Title = "Dependency Analyser";
}

<div class="container help">
    <h2>Dependency Analyser - Help</h2>

    <div>
        <div>
            <h3>If the component you are loading does not exist in the bottom left list, click on Manage Components</h3>
        </div>
        <img src="~/Content/Help/ManageComponents1.png" alt="Manage Components 1" />
    </div>
    <div>
        <div>
            <h3>This screen will allow you to add, update and delete components. Ensure you click on "Save" before closing the window.</h3>
        </div>
        <img src="~/Content/Help/ManageComponents2.png" alt="Manage Components 2" />
    </div>

    <div>
        <div>
            <h3>Browse to the solution folder, or type/paste the file path into the text box.</h3>
        </div>
        <img src="~/Content/Help/LoadPackages1.png" alt="Load Packages 1" />
    </div>

    <div>
        <div>
            <h3>Click on "Load" to read the package data into the application.</h3>
        </div>
        <img src="~/Content/Help/LoadPackages2.png" alt="Load Packages 2" />
    </div>

    <div>
        <div>
            <h3>Select the relevant component, then click on "Upload" to send the package details to the server.</h3>
        </div>
        <img src="~/Content/Help/LoadPackages3.png" alt="Load Packages 3"/>
    </div>

    <div>
        <h3>Thats it! Go to the web site to see your organisation summary.</h3>
    </div>
</div>