<div class="container summary">
    <div id="loading" class="row loading">
        <img src="~/Content/loading.gif" alt="Loading" />
    </div>
    <div id="summary" class="row" style="display: none">
        <div id="packages" class="col-lg-6 packages">

        </div>
        <div id="versions" class="col-lg-3 versions">

        </div>
        <div id="components" class="col-lg-3 components">

        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/summary.js"></script>
}